* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(con1\ \(5\).jfif);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.theme {
  margin: auto;
  align-items: center;
  position: absolute;
  left: 600px;
}
#themeBtn {
  background-color: white;
  width: 150px;
  padding: 10px;
  border-radius: 40px;
  border-left: none;
  border-right: none;
}
.container {
  /* display: none; */
  background: #000000be;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.116);
  margin: auto;
  position: relative;
  top: 80px;
  transition: 0.3s ease;
}
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: rgb(255, 0, 0);
  text-shadow: 1px 2px 2px #646464fd;
}

p {
  padding: 4px;
  color: rgba(245, 245, 245, 0.644);
}
.input-group {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 9px;
  outline: none;
  transition: 0.3s ease;
}

button {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 9px;
  border-left: 3px solid red;
  border-right: 3px solid red;
  outline: none;
  transition: 0.3s ease;
  font-weight: bolder;
  position: relative;
  top: 10px;
  cursor: pointer;
}

img {
  position: relative;
  top: 10px;
  width: 100px;
}

a {
  color: white;
  position: relative;
  top: 8px;
}
a:active {
  color: red;
}

input:focus {
  border-color: #2c5364;
}

.toggle-btn {
  position: absolute;
  left: 160px;
  top: 35%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #ff0000;
}

.toggle-btn:hover {
  color: #000;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.success {
  border-color: green !important;
}

.invalid {
  border-color: red !important;
}

.strength {
  height: 5px;
  margin-top: 6px;
  border-radius: 3px;
  transition: 0.3s;
}

button.submit-btn:hover {
  background: #432020;
  color: white;
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

.dark h2,
.dark h3,
.dark p {
  color: rgb(255, 254, 254);
}

.dark {
  background: #121212;
  color: white;
}

